<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyectodm">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoDM">
        <activity
            android:name=".admin.ModificarCarta_Interfaz"
            android:exported="true" />
        <activity
            android:name=".admin.ListarCarta_Interfaz"
            android:exported="true" />
        <activity
            android:name=".admin.ListarUsuario_Interfaz"
            android:exported="true" />
        <activity
            android:name=".admin.ModificarUsuario_Interfaz"
            android:exported="true" />
        <activity
            android:name=".admin.AddUsuario_Interfaz"
            android:exported="true" />
        <activity
            android:name=".admin.AddCarta_Interfaz"
            android:exported="true" />
        <activity
            android:name=".Admin_Interfaz"
            android:exported="true" />
        <activity
            android:name=".usuario.DetalleMesa_Activity"
            android:exported="true" />
        <activity
            android:name=".usuario.InterfazMesas_Activity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>

